<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">

  <!-- outra maneira de fazer
  [class.has-error]="!nome.valid && nome.touched"
  [class.contro="!nome.valid && nome.touched" -->

  <div class="form-row">

    <div class="col-sm-12">
      <label for="nome" class="form-control-l">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o seu nome"
        [(ngModel)]="usuario.nome" required #nome="ngModel">
      <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
        Nome é obrigatório
      </div>
      <!-- <div>
          {{ nome.className}}
        </div> -->
      <span class="glyphicon glyphicon-remove form-control-feedback" arial-hidden="true"
        *ngIf="!nome.valid && nome.touched"></span>
      <!-- <span id="nome" class="rs-only" *ngIf=></span> -->
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-12">
      <label for="email">Email</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com"
        [(ngModel)]="usuario.email" required email #email="ngModel">
      <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
        Email invalido
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-3">
      <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep"
        name="cep" ngModel required #cep="ngModel"
        (blur)="consultaCEP($event.target.value)">
        <div class="alert alert-danger" *ngIf="!cep.valid && cep.touched">
          CEP é obrigatório
        </div>
    </div>
    <div class="col-md-3">
        <label for="numero" class="control-label">numero</label>
        <input type="text" class="form-control" id="numero"
          name="numero" ngModel required #numero="ngModel">
          <div class="alert alert-danger" *ngIf="!numero.valid && numero.touched" >
            Número é obrigatório
          </div>
    </div>
    <div class="col-md-6">
        <label for="complemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complemento"
          name="complemento" ngModel #complemento="ngModel">
    </div>
  </div>

  <div class="form-row">
      <div class="col-sm-12">
        <label for="rua" class="form-control-l">Rua</label>
      </div>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="rua" name="rua"
          [(ngModel)]="usuario.rua" required readonly #rua="ngModel">
        <span class="glyphicon glyphicon-remove form-control-feedback" arial-hidden="true"
          *ngIf="!rua.valid && rua.touched"></span>
      </div>
  </div>

  <div class="form-row">
      <div class="col-md-5">
          <label for="bairro" class="control-label">Bairro</label>
          <input type="text" class="form-control" id="bairro"
            name="bairro" ngModel required readonly #bairro="ngModel">
      </div>
      <div class="col-md-4">
          <label for="cidade" class="control-label">Cidade</label>
          <input type="text" class="form-control" id="cidade"
            name="cidade" ngModel required readonly #cidade="ngModel">
      </div>
      <div class="col-md-3">
          <label for="estado" class="control-label">Estado</label>
          <input type="text" class="form-control" id="estado"
            name="estado" ngModel required readonly #estado="ngModel">
      </div>
  </div>

  <br>
  <div class="form-row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enviar</button>
    </div>
</div>


  <app-form-debug [form]="f"></app-form-debug>
</form>
